language: "node_js"
node_js:
    - "node"
script:
  - npm i -g codecov
  - npm run test
  - npm run report-coverage
after_success:
  - codecov
notifications:
  slack:
    rooms:
    - davidnuno:frvxQrjgGARqPLETXsdm53WI#travis-ci


